extends ../layout 

block content 
	section.content-header
		.container-fluid
			.row.mb-2
				.col-sm-6
					h1 THỜI KHÓA BIỂU
	section.content
		.container-fluid
			.row
				.col-12
					.card
						.card-body
							table#tab-subject.table.table-bordered.table-striped
								thead
									tr
										th Mã môn học
										th Tên Môn
										th Tín chỉ
										th Nhóm
										th Giờ học
										th Phòng
										th Tuần học
								tbody
									each study in studyDetailRender 
										tr 
											td=study.subjectID
											td=study.subjectName
											td=study.credit
											td=study.groupClass
											td=study.roomID
											td=subject.TKB
block script 
	script(src="/javascripts/study/subject.js") 