extends ../layout 

block content 
	section.content-header
		.container-fluid
			.row.mb-2
				.col-sm-6
					h1 #{title}
	section.content
		.container-fluid
			.row
				.col-12
					.card
						.card-body
							table#tab-groupclass.table.table-bordered.table-striped
								thead
									tr
										th Tên tổ
										th Tên Nhóm
										th Tên môn
										th Giờ bắt đầu
										th Giờ kết thúc
										th Giảng viên
										th Thao tác
								tbody
									each subject in subjectList 
										tr 
											td=subject.classID
											td=subject.groupID
											td=subject.subjectName
											td=subject.startTime
											td=subject.endTime
											td=subject.MSGV
											td.text-center
												//- .btn.btn-primary.btn-xs
												a(style="margin-right: 5px; ", href="/faculty/edit/" + subject.subjectID) 
													i.fas.fa-edit
												//.btn.btn-danger.btn-xs
												a(href="/faculty/delete/" + subject.subjectID)
													i(style ='color: red').fas.fa-trash 

block script 
	script(src="/javascripts/study/subject.js") 