extends ../layout 

block content 
	section.content-header
		.container-fluid
			.row.mb-2
				.col-sm-6
					h1 #{title}
	section.content
		.container-fluid
			.row
				.col-12
					.card
						.card-body
							table#tab-subject.table.table-bordered.table-striped
								thead
									tr
										th Mã môn học
										th Tên Môn
										th Số tín chỉ
										th Điểm BTL
										th Điểm tn
										th Điểm thi 
										th Tổng kết
								tbody
									each subject in subjectStudy 
										tr 
											td=subject.subjectID
											td=subject.subjectName
											td=subject.credit
											td=subject.exercisescore
											td=subject.labscore
											td=subject.finalscore
											td=subject.totalscore
block script 
	script(src="/javascripts/study/subject.js") 