extends ../layoutstudent

block content
	section.content-header
		.container-fluid
			.row.mb-2
				.col-sm-6
					h1 THỜI KHÓA BIỂU
	section.content
		.container-fluid
			each yearsemester in yearSemester
				.row
					.col-12
						.card
							.card-body
								h4 Năm học #{yearsemester.year} - Học kì #{yearsemester.semester}
								table.tab-subject.table.table-bordered.table-striped
									thead
										tr
											th Mã MH
											th Tên Môn
											th Nhóm-Tổ
											th Số TC
											th Giờ học
											th Phòng học
											th Tuần học
									tbody
										each study in studyScore
											if study.year ==  yearsemester.year 
												if study.semester ==  yearsemester.semester
													tr 
														td=study.subjectID
														td=study.subjectName
														td=study.groupClass
														td=study.credit
														td=study.timing
														td=study.roomID
														td=study.week
block script
	script(src="/javascripts/TKB.js") 